<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- association : 1:N에서 N쪽의 정보를 조회할 때 1쪽의 정보도 함께 읽을 것임 -->

<mapper namespace="www.study.com.bulletinboard.mapper.PostMapper">

	<resultMap id="replyResultMap"
		type="www.study.com.bulletinboard.model.ReplyVO">
		<id property="hierarchyIid" column="hierarchy_id" jdbcType="VARCHAR"/>
		<result property="content" column="content" />
		<result property="regDate" column="reg_date" />
		<result property="updateDate" column="update_date" />
		
		<!-- 다른 Mapper.xml에서 정의된  resultMap을 활용하는 방법 --> 
		<association  property="writer" columnPrefix="m_" resultMap="www.study.com.party.mapper.PartyMapper.partyResultMap"/>
	
		<!-- 구분자 -->
		<discriminator javaType="String" column="post_type">
			<case value="POST" resultMap="postResultMap" />
		</discriminator>
	</resultMap>

	<resultMap id="postResultMap"
		type="www.study.com.bulletinboard.model.PostVO" extends="replyResultMap">
		<result property="title" column="title" />
	
		<!-- 다른 Mapper.xml에서 정의된  resultMap을 활용하는 방법 --> 
		<association  property="board" columnPrefix="bb_" resultMap="bulletinBoardResultMap"/>
	</resultMap>
	
	<resultMap id="bulletinBoardResultMap"
		type="www.study.com.bulletinboard.model.BulletinBoardVO">
		<id property="id" column="id" />
		<result property="name" column="name" />
	</resultMap>
	
	<!-- public PostVO findPostWithWriter(@Param("postId") String postId); -->
	<select id="findPostWithWriter" resultMap="replyResultMap">
		select p.*, m.login_id m_login_id, m.name m_name, m.pwd m_pwd, m.birth_date m_birth_date, m.party_type m_party_type, m.gender m_gender, m.is_alive m_is_alive,
			   b.id bb_id, b.name bb_name
		  from t_post p, t_bulletin_board b, t_party m
		 where p.hierarchy_id = #{postId}
		   and p.writer_id = m.login_id 
		   and p.bb_id = b.id 
	</select>
	
	<!-- public List<PostVO> searchPost(@Param("arrUserSearch") String[] arrUserSearch); -->
	<select id="searchPost" resultMap="replyResultMap">
		select p.*
		  from m_post2tag m, t_post p
		 where m.tag_id in (
			select id
			  from t_hashtag
			 where tag in 
			       <foreach collection="arrUserSearch" item="searchWord" open="(" close=")" separator=",">
			       		#{searchWord}
			       </foreach>
			)
		   and m.post_id = p.hierarchy_id
	</select>
		
</mapper>